body {
    background-color: black;
    transition: all 1s;
}

img {
  margin-left: 30px;
  margin-top: 50px;
  position: absolute;
}

h1 {
    text-align: center;
    color: white;
  }

#container {
    height: 724px;
    width: 1024px;
    border: 10px solid white;
    margin: 0 auto;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    cursor: url("images/chred.png"), auto;


  }

#scoreBoard {
  width: 50px;
  height: 50px;
  border: 10px solid red;
  position: absolute;
  color: white;

}

#countdown {
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
