* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-moz-selection { background:transparent; }
*::selection { background:transparent; }

body {
    background-color: black;
    color: white;
    font-family: 'Chewy', cursive;
}

h3 {
  font-size: 25px;
  color: white;
  margin-top: 75px;
}

img {
  margin-left: 30px;
  margin-top: 50px;
  position: absolute;
}

h1 {
  text-align: center;
}

#start-game {
  height: 50px;
  width: 75px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  float: left;
  border-radius: 5px;
  color: white;
  background: green;
}

#reset {
  height: 50px;
  width: 75px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  float: left;
  border-radius: 5px;
  color: white;
  background: purple;
}

#container {
    height: 724px;
    width: 1024px;
    border: 5px solid white;
    margin: 0 auto;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    cursor: url("images/chred.png"), auto;
    margin-top: -50px;
    margin-left: 110px;
    position: relative;
    border-radius: 5px;
  }

#scoreBoard {
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  color: red;
  margin-left: 6px;
}

#scoreBoard2 {
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  color: red;
  margin-left: 6px;
}

#countdown {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: blue;
    margin-left: 6px;
}
