body {
    background-color: black;
    color: white;
}

button {
  height: 60px;
  width: 75px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 40px;
}

img {
  margin-left: 30px;
  margin-top: 50px;
  position: absolute;
}

h1 {
  text-align: center;
}

#container {
    height: 724px;
    width: 1024px;
    border: 5px solid white;
    margin: 0 auto;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    cursor: url("images/chred.png"), auto;
    margin-top: -50px;
    margin-left: 110px;
    position: relative;
  }

#scoreBoard {
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  color: red;
  margin-left: 6px;

}
#scoreBoard2 {
  font-size: 30px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: red;
  margin-left: 6px;

}

#countdown {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: blue;
    margin-top: 2px;
    margin-left: 6px;
}

h3 {
  font-size: 25px;
  color: white;
  margin-top: 75px;
}
